/vendor/
/generated/
/var/cache/
/var/page_cache/
/var/view_preprocessed/
/var/session/
/var/tmp/

/pub/static/
/pub/media/catalog/
/pub/media/tmp/
/pub/media/import/

/node_modules/

/app/etc/env.php

*.log
.DS_Store

/.idea/
/.vscode/